@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single&display=swap');
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Bitcount Prop Single', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5rem;
}

